#AoC Inputs
*.txt

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*/.vs
*/x64
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
/.vs
/2015/AoC_2015/.vs/AoC_2015
/2015/AoC_2015/x64
/x64/Debug/AoC_2016.pdb
/2016/AoC_2016/x64/Debug/AoC_2016.ilk
/2016/AoC_2016/x64/Debug/AoC_2016.log
/2016/AoC_2016/x64/Debug/AoC_2016.tlog/CL.read.1.tlog
/2016/AoC_2016/x64/Debug/main.obj.enc
/2016/AoC_2016/x64/Debug/vc143.idb
/2016/AoC_2016/x64/Debug/vc143.pdb
