#AoC Inputs
*.txt

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/2015/AoC_2015/.vs/AoC_2015
/2015/AoC_2015/x64
/2015/AoC_2015/AoC_2015.sln
/2015/AoC_2015/AoC_2015.vcxproj
/2015/AoC_2015/AoC_2015.vcxproj.filters
/2015/AoC_2015/AoC_2015.vcxproj.user
